@import './../../../../styles/colors.scss';
@import './../../../../styles/mixins.scss';

.issuer-filters {
  @include flex();
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
  flex-wrap: wrap;
  gap: 16px;

  .date-container {
    margin-bottom: 13px;

    .label {
      font-weight: 300;
      font-size: 14px;
      color: #808080;
    }

    .component {
      &-datepicker {
        width: 110px;
        height: 38px;
      }
    }
  }

  .button-container {
    margin-top: 20px;
  }
}